In [6]:
import pandas as pd
import numpy as np

In [12]:
df=pd.read_excel('C:\\Users\\eric.park\\Downloads\\vaccine_doses.xlsx')

In [16]:
dft=df[['report_date','total_individuals_at_least_one','total_doses_in_fully_vaccinated_individuals','total_individuals_3doses']]

In [46]:
import statistics
from statistics import mean

In [36]:
dft['total_individuals_at_least_one'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_individuals_at_least_one, dtype: float64

In [42]:
first_dose=dft['total_individuals_at_least_one'].dropna()

In [43]:
first_dose.astype(int)

8         59950
9         71544
10        85536
11       100323
12       110304
         ...
401    12481443
402    12486785
403    12493035
404    12497728
405    12499995
Name: total_individuals_at_least_one, Length: 398, dtype: int32

In [49]:
round(mean(first_dose),2)

7919131.18

In [48]:
statistics.median(first_dose)

10358583.5

In [50]:
statistics.mode(first_dose)

59950.0

In [51]:
min(first_dose)

59950.0

In [52]:
max(first_dose)

12499995.0

In [54]:
round(statistics.stdev(first_dose),2)

4550620.76

In [55]:
second_dose=dft['total_doses_in_fully_vaccinated_individuals'].dropna()

In [56]:
second_dose.astype(int)

8           860
9          2173
10         4053
11         5880
12         5884
         ...
334    22501978
335    22508112
336    22519458
337    22532408
338    22544536
Name: total_doses_in_fully_vaccinated_individuals, Length: 331, dtype: int32

In [57]:
round(mean(second_dose),2)

9864980.25

In [58]:
statistics.mode(second_dose)

5884.0

In [60]:
statistics.median(second_dose)

5748560.0

In [61]:
min(second_dose)

860.0

In [62]:
max(second_dose)

22544536.0

In [63]:
round(statistics.stdev(first_dose),2)

4550620.76

In [64]:
third_dose=dft['total_individuals_3doses'].dropna()

In [66]:
third_dose.astype(int)

339     738075
340     783991
341     809671
342     826303
343     866170
        ...
401    6493523
402    6522406
403    6561032
404    6590502
405    6604089
Name: total_individuals_3doses, Length: 67, dtype: int32

In [67]:
round(mean(third_dose),2)

3911898.18

In [68]:
statistics.median(third_dose)

4056554.0

In [69]:
statistics.mode(third_dose)

738075.0

In [70]:
min(third_dose)

738075.0

In [71]:
max(third_dose)

6604089.0

In [72]:
round(statistics.stdev(third_dose),2)

2054336.79

In [73]:
df1=pd.read_csv('C:\\Users\\eric.park\\Downloads\\vaccines_by_age.csv')

In [74]:
df1.head()

,Date,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Percent_3doses
0,2020-12-16,12-17yrs,0,0.0,NaN,NaN,951519,0.0,0.0,NaN
1,2020-12-16,18-29yrs,45,0.0,NaN,NaN,2455535,0.0,0.0,NaN
2,2020-12-16,30-39yrs,66,0.0,NaN,NaN,2056059,0.0,0.0,NaN
3,2020-12-16,40-49yrs,98,0.0,NaN,NaN,1876583,0.0,0.0,NaN
4,2020-12-16,50-59yrs,141,0.0,NaN,NaN,2060934,0.0,0.0,NaN

In [78]:
f_dose=df1['At least one dose_cumulative'].dropna()

In [79]:
round(mean(f_dose),2)

2118820.53

In [80]:
statistics.median(f_dose)

943317

In [81]:
statistics.mode(f_dose)

0

In [82]:
min(f_dose)

0

In [83]:
max(f_dose)

12492618

In [84]:
round(statistics.stdev(f_dose),2)

3387902.81

In [88]:
sec_dose=df1['Second_dose_cumulative'].dropna()

In [90]:
round(mean(sec_dose),2)

1231565.42

In [91]:
statistics.median(sec_dose)

193616.5

In [92]:
statistics.mode(sec_dose)

0.0

In [93]:
min(sec_dose)

0.0

In [94]:
max(sec_dose)

11257423.0

In [95]:
round(statistics.stdev(sec_dose),2)

2550252.97

In [96]:
th_dose=df1['third_dose_cumulative'].dropna()

In [97]:
round(mean(th_dose),2)

1755697.18

In [98]:
statistics.median(th_dose)

816695.5

In [99]:
statistics.mode(th_dose)

0.0

In [100]:
min(th_dose)

0.0

In [101]:
max(th_dose)

6604028.0

In [102]:
round(statistics.stdev(th_dose),2)

2225109.43