In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_csv('C:\\Users\\eric.park\\Downloads\\vaccine_doses.csv')

In [7]:
dft=df[['report_date','total_individuals_at_least_one','total_doses_in_fully_vaccinated_individuals','total_individuals_3doses']]

In [8]:
import statistics
from statistics import mean

In [9]:
dft['total_individuals_at_least_one'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: total_individuals_at_least_one, dtype: float64

In [10]:
first_dose=dft['total_individuals_at_least_one'].dropna()

In [11]:
first_dose.astype(int)

8         59950
9         71544
10        85536
11       100323
12       110304
         ...
401    12481443
402    12486785
403    12493035
404    12497728
405    12499995
Name: total_individuals_at_least_one, Length: 398, dtype: int32

In [49]:
round(mean(first_dose),2)

7919131.18

In [48]:
statistics.median(first_dose)

10358583.5

In [50]:
statistics.mode(first_dose)

59950.0

In [51]:
min(first_dose)

59950.0

In [52]:
max(first_dose)

12499995.0

In [54]:
round(statistics.stdev(first_dose),2)

4550620.76

In [55]:
second_dose=dft['total_doses_in_fully_vaccinated_individuals'].dropna()

In [56]:
second_dose.astype(int)

8           860
9          2173
10         4053
11         5880
12         5884
         ...
334    22501978
335    22508112
336    22519458
337    22532408
338    22544536
Name: total_doses_in_fully_vaccinated_individuals, Length: 331, dtype: int32

In [57]:
round(mean(second_dose),2)

9864980.25

In [58]:
statistics.mode(second_dose)

5884.0

In [60]:
statistics.median(second_dose)

5748560.0

In [61]:
min(second_dose)

860.0

In [62]:
max(second_dose)

22544536.0

In [63]:
round(statistics.stdev(first_dose),2)

4550620.76

In [64]:
third_dose=dft['total_individuals_3doses'].dropna()

In [66]:
third_dose.astype(int)

339     738075
340     783991
341     809671
342     826303
343     866170
        ...
401    6493523
402    6522406
403    6561032
404    6590502
405    6604089
Name: total_individuals_3doses, Length: 67, dtype: int32

In [67]:
round(mean(third_dose),2)

3911898.18

In [68]:
statistics.median(third_dose)

4056554.0

In [69]:
statistics.mode(third_dose)

738075.0

In [70]:
min(third_dose)

738075.0

In [71]:
max(third_dose)

6604089.0

In [72]:
round(statistics.stdev(third_dose),2)

2054336.79

In [12]:
df1=pd.read_csv('C:\\Users\\eric.park\\Downloads\\vaccines_by_age.csv')

In [16]:
df1.head(11)

,Date,Agegroup,At least one dose_cumulative,Second_dose_cumulative,fully_vaccinated_cumulative,third_dose_cumulative,Total population,Percent_at_least_one_dose,Percent_fully_vaccinated,Percent_3doses
0,2020-12-16,12-17yrs,0,0.0,NaN,NaN,951519,0.0,0.0,NaN
1,2020-12-16,18-29yrs,45,0.0,NaN,NaN,2455535,0.0,0.0,NaN
2,2020-12-16,30-39yrs,66,0.0,NaN,NaN,2056059,0.0,0.0,NaN
3,2020-12-16,40-49yrs,98,0.0,NaN,NaN,1876583,0.0,0.0,NaN
4,2020-12-16,50-59yrs,141,0.0,NaN,NaN,2060934,0.0,0.0,NaN
5,2020-12-16,60-69yrs,65,0.0,NaN,NaN,1795046,0.0,0.0,NaN
6,2020-12-16,70-79yrs,15,0.0,NaN,NaN,1159902,0.0,0.0,NaN
7,2020-12-16,80+,0,0.0,NaN,NaN,679266,0.0,0.0,NaN
8,2020-12-16,Adults_18plus,430,0.0,NaN,NaN,12083325,0.0,0.0,NaN
9,2020-12-16,Ontario_12plus,430,0.0,NaN,NaN,13034844,0.0,0.0,NaN
10,2020-12-16,Undisclosed_or_missing,0,0.0,NaN,NaN,0,NaN,NaN,NaN

In [17]:
df1=df1[(df1.Agegroup!="Adults_18plus")&(df1.Agegroup!="Ontario_12plus")&(df1.Agegroup!="Undisclosed_or_missing")]

In [18]:
f_dose=df1['At least one dose_cumulative'].dropna()

In [19]:
round(mean(f_dose),2)

1144686.46

In [20]:
statistics.median(f_dose)

837944.5

In [22]:
statistics.mode(f_dose)

0

In [23]:
min(f_dose)

0

In [24]:
max(f_dose)

12492618

In [25]:
round(statistics.stdev(f_dose),2)

1715683.52

In [26]:
sec_dose=df1['Second_dose_cumulative'].dropna()

In [27]:
round(mean(sec_dose),2)

575006.65

In [28]:
statistics.median(sec_dose)

122990.5

In [29]:
statistics.mode(sec_dose)

0.0

In [30]:
min(sec_dose)

0.0

In [31]:
max(sec_dose)

1978651.0

In [32]:
round(statistics.stdev(sec_dose),2)

651718.35

In [33]:
th_dose=df1['third_dose_cumulative'].dropna()

In [34]:
round(mean(th_dose),2)

1141812.66

In [35]:
statistics.median(th_dose)

781432.5

In [36]:
statistics.mode(th_dose)

0.0

In [37]:
min(th_dose)

0.0

In [38]:
max(th_dose)

6604028.0

In [39]:
round(statistics.stdev(th_dose),2)

1587202.54